#meetingsMessage {
    -fx-text-fill: white;
    -fx-font-size: 15;
}

#meetingsMessageContainerV {
    -fx-background-color: derive(#1d1d1d, 20%);
}

#meetingsMessageContainerH {
    -fx-background-color: derive(#1d1d1d, 20%);
}

#scrollPane .viewport {
    -fx-background-color: derive(#1d1d1d, 20%);
}

#scrollPane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}